@use 'sass:map';
@import './variables.scss';

@mixin ellipsis($laneLimit) {
    display: -webkit-box;
    -webkit-line-clamp: #{$laneLimit};
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: normal;
}

/// Mixin to manage responsive breakpoints
/// @author Kitty Giraudel
/// @param {String} $breakpoint - Breakpoint name
/// @require $breakpoints
@mixin mq($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media (min-width: map-get($breakpoints, $breakpoint)) {
            @content;
        }
    } @else {
        @error "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
          + "Available breakpoints are: #{map-keys($breakpoints)}.";
    }
}

@mixin mqTouch {
    @media (pointer: coarse) {
        @content;
    }
}

@mixin mqNotTouch {
    @media not all and (pointer: coarse) {
        @content;
    }
}

@mixin maskImageGradient($orientation, $color-stops...) {
    mask-image: linear-gradient(to $orientation, $color-stops);
    -webkit-mask-image: linear-gradient(to $orientation, $color-stops);
}

@mixin noSelect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

@mixin keyboard {
    [data-whatintent='keyboard'] & {
        @content;
    }
}

@mixin mouse {
    [data-whatintent='mouse'] & {
        @content;
    }
}

@mixin zIndex($z-index) {
    @if map-has-key($zIndex, $z-index) {
        z-index: map-get($zIndex, $z-index);
    } @else {
        @error "Unfortunately, no value could be retrieved from `#{$z-index}`. "
          + "Available z-indexes are: #{map-keys($zIndex)}.";
    }
}

// Adds default page horizontal space for full screen components.
// Don't use this mixin if you're not sure what it does.
// Don't change this mixin. At all.
@mixin pageLayoutHorizontalSpace {
    margin-left: var(--page-layout-horizontal-space);
    margin-right: var(--page-layout-horizontal-space);

    @include mq('xs') {
        margin-left: var(--page-layout-horizontal-space-xs);
        margin-right: var(--page-layout-horizontal-space-xs);
    }
}

@mixin scrollbarStyle {
    overflow: auto;

    -webkit-overflow-scrolling: touch;

    ::-webkit-scrollbar {
        width: var(--space-1-3);
    }

    ::-webkit-scrollbar-thumb {
        background: var(--color-white-opacity-50);
        border-radius: var(--border-radius-4xl);
    }

    ::-webkit-scrollbar-track {
        border-radius: var(--border-radius-4xl);
    }

    -ms-overflow-style: -ms-autohiding-scrollbar;
}
