@import "../../../shared/css/mixins.scss";

.cards-list {
  position: relative;
  padding: 2.4rem 1.2rem;
  margin: auto;
  /* border-radius: 0.6rem; */
  background: #000;
}

.cards-list__title {
  color: white;
  font-size: 2.4rem;
  margin-bottom: 0.6rem;
  text-align: center;
  @include mq("md") {
    text-align: left;
  }
}
